    body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

img:hover {transform: scale(1.05);}
.image-container {margin-bottom: 40px;}